.studentBody{
	color: white;
	background-image:url("land2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	transform: scale(1.25);
	padding:100px;
	padding-left: 150px;
}

.indexBody{

	color: white;
	background-image:url("bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	transform: scale(1.25);
	padding:100px;
	padding-left: 150px;
	/* text-align: center; */
}


.teacherBody{
	color: white;
	background-image:url("land2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	transform: scale(1.25);
	padding:100px;
	padding-left: 150px;
}

.logo{
	width: 30px;
	margin-left: 25px;
}

.logo1{
	width: 25px;
	
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 200px;
}

.form{
  position: absolute;
  color: white;

  right: 0px;
  width: 300px;
  padding: 10px;
  margin-top: 200px;
  margin-right: 150px;
  
}

.name{
  position: absolute;
  color: white;

  right: 0px;
  margin-right: 250px;
  font-size: 35px;
}

.about{
  position: absolute;
  color: white;

  right: 0px;
  margin-right: 250px;
  font-size: 15px;
  margin-top: 50px;
}

.login{
	background: none;
	border: none;
	width: 250px;

  	border-bottom: 2px solid;
  	border-color: #0AEFA1;
  	padding-left: 188px ; 
  	padding-bottom: 10px;
}

.pass{
	background: none;
	border: none;
	width: 250px;
	padding-top: 10px;
  	padding-left: 180px ;
}

.lbutton{
	position: absolute;
	border: none;
	height: 25px;
	width: 90px;
  	right: 0px;
  	margin-top: 30px;
  	margin-right: 60px;
  	background-color: #0AEFA1;

}

input:focus { 
	background: none;
	border: none;
	color: white;
	margin: 0px;
	outline: none;
  }

  input:active { 
	background: none;
	border: none;
	outline: none;
  }

  .indexButtons{
	/* position: relative; */
	color: white;
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 50px;

	/* top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); */

  }

  .tlogin{
	width: 250px;
	
	height: 250px;
	border: none;
	margin: 30px;
	border-radius: 5px;
	background: linear-gradient(180deg, #BABCBB 0%, rgba(244, 245, 245, 0) 100%);
  }

  .slogin{
	width: 250px;
	
	height: 250px;
	border: none;
	margin: 80px;
	border-radius: 5px;
	background: linear-gradient(180deg, #BABCBB 0%, rgba(244, 245, 245, 0) 100%);
	  
}

.indexButtons a:link, .indexButtons a:visited, .indexButtons a:hover, .indexButtons a:active { color:#ffffff;  text-decoration: none; font-weight: bold; font-size: 30px; }

.name{
	position: absolute;
	color: white;
	margin-top: -40px;
	margin-left: 240px;
	left: 0px;
	width: 300px;

	

}
